{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block title %}{% trans "أعادة تعيين كلمة المرور" %}{% endblock %}

{% block content %}
<div class="container">
    <!-- <h1>{% trans "Password Reset" %}</h1> -->
    <h1>إعادة تعيين كلمة المرور</h1>

    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <!-- <p>{% blocktrans %}We have sent you an e-mail. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes.{% endblocktrans %}</p> -->
    <p>أرسلنا لك رسالة إعادة تعيين كلمة المرور على بريدك الإلكتروني, إن لم تستلم الرسالة حتى الآن
        ، قم بالتحقق من قسم الرسائل المزعجة</p>
    <br>
    <p>تواصل معنا في حال لم تستلم رسالة إعادة التعيين</p>

</div>
{% endblock %}