{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% load i18n %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static './css/signup.html' %}">
{% endblock stylesheet %}

{% block title %}
إعادة تعيين كلمة المرور
{% endblock title %}

{% block content %}
<div class="container">

    <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "تغيير كلمة المرور" %}{% endif %}</h1>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        <form method="POST" action="{{ action_url }}">
            {% csrf_token %}
            <div class="input">
                <p>كلمة السر الجديدة</p>
                <br>
                {{form.password1}}
            </div>
            <div class="input">
                <p>أدخل كلمة السر مرة أخرى</p>
                <br>
                {{form.password2}}
            </div>
            <br>
            <input type="submit" class="btn btn-solid-dark" name="action" value="{% trans 'تغيير كلمة المرور' %}"/>
        </form>
    {% endif %}

</div>

{% endblock %}