

{% for feedback in feedbacks %}
<div class="feedback">
    <div class="feedback-account">
        <p class="feedback-account__user">{{feedback.user}}</p>
        <div class="feedback-account__rate">
            <div class="stars">
                {% with ''|center:feedback.score as range %}
                    {% for _ in range %}
                        <i class="fas fa-star "></i>
                    {% endfor %}
                {% endwith %}
                {% comment %} {% for x in feedback.score|times %} {% endcomment %}
                {% comment %} <i class="fas fa-star-half "></i> {% endcomment %}
                {% comment %} {% endfor %} {% endcomment %}
            </div>
            <p>
                <!-- provided by django -->
                ({{feedback.score}} / 5)
            </p>
        </div>
    </div>
    <div class="feedback-details">
        <p>
            {{feedback.details}}
        </p>
    </div>
</div>


{% endfor %}

