

.section {
    margin-bottom:1rem ;
}

.swiper-pagination {
    position: relative;
    margin-top: 1rem;
}

.book {
    padding: 1rem;
    position: relative;
    border: 2px solid #32323230;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:20px;
    width: 100%;
    min-height: 350px;
}

.book img {
    max-width: 100%;
}

.book::after {
    content: "";
    position: absolute;
    top:0;
    right: 0;
    width: 100%;
    height: 50%;
    z-index: -1;
    background: #E0E6F0;
}

.book .book_title {
    text-align: center;
    margin: 10px 0;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

.section.books-section .btn {
    display: inline-block;
    margin-top: 1rem;
}

.section.books-section .btn:hover {
    background: #323232;
    color:#f9f9f9;
}





/* Books grid styling */
.books {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}