
footer{
    margin-top: 2rem;
    background: rgb(46, 45, 45);
    text-align: right;
    padding: 10px;
    width: 100%;
    height: auto;
    
}

footer a{
    text-decoration: none;
    color:var(--primary-color);
}

footer span{
    font-weight: bold;
    color: var(--primary-color);
    font-size: 1.5rem;
}


.part1{
    /* background: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 2;
    margin-bottom: 1rem;

}
.part1 div {
    flex:1; 
    text-align: center;
}

.part1 div * {
    display: block;
}

ul{
    list-style: none;
}

footer hr{
    margin: 0 auto;
}



.part2{
    margin-top: 1rem;
    color: aliceblue;
    display: block;
    text-align: center;
    line-height: 2.5;
}
.part2 .copyrights-sentence {
    color: var(--primary-color)
}
.part2 .social-links a i{
    font-size: 20px;
    margin: 10px;
    color: var(--primary-color);
}



@media(max-width: 574px) {
    footer {
        bottom: auto !important;
    }
    
    .part1 {
        flex-direction: column;
        display: flex;
        width: 100%;   
    }

    .part1 div {
        line-height: 2.5;
    }


}