.main .container {
    line-height: 2 ;
}

.main {
    margin: 1rem auto;
    width: fit-content;
}

.main .heading {
    font-size: 30px;
    font-weight: bold;
}

.main .container {
}


form .input {
    margin-bottom: 1rem;
    position: relative;
}

form .input input{
    width: 100% !important;
    padding-right: 2.5rem; 
    height: 50px;
    outline: none;
    border: 1px solid #888888 !important;
    border-radius: 50px;
}

form .input i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1rem;
    color: #888888;
}