{% load static %}
{% load user_info %}
<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock title%}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static './css/normalize.css' %}">
    <link rel="stylesheet" href="{% static './css/main.css' %}">
<link rel="stylesheet" href="{% static  '/css/footer.css' %}">

    {% block stylesheet %}
    {% endblock stylesheet %}
</head>

<body>

<div class="content" style="width:100%; min-height: 100vh !important; position: relative;">
    

    <!-- Start Header -->

    <header>
        <div class="container">
            <div class="humburger">
                <i class="fa-solid fa-bars"></i>
            </div>
            <div class="logo">
                <a href="{% url 'pages:index' %}" class="logo-text">مصنف</a>
            </div>
            <div class="header-nav">
                <ul>
                    <li><a href="{% url 'pages:index' %}" class="list-item">الرئيسية</a></li>
                    <li><a href="{% url 'mosannaf:all' %}" class="list-item">المصنفات</a></li>
                    <!-- <li><a href="#" class="list-item">الكورسات</a></li> -->
                    <li><a href="{% url 'mosannaf:categories' %}" class="list-item">الأقسام</a></li>
                    <li><a href="{% url 'pages:contact' %}" class="list-item">اتصل بنا</a></li>
                </ul>
            </div>
            {% if user.is_authenticated %}
            <div class="cta">
                <a href="{% url 'accounts:profile' %}">{{user}}</a>
            </div>
            {% else %}
            <div class="cta">
                <a href="{% url 'account_login' %}" class="btn btn-solid-dark">دخول</a>
                <a href="{% url 'account_signup' %}" class="btn btn-outline-dark">
                    <i class="fa-solid fa-user"></i>
                    تسجيل حساب
                </a>
            </div>
            {% endif %}

            <div class="profile">
                <a href="{% url 'accounts:profile' %}" class="list-item black">
                    {% comment %} <img src="{% static './assets/images/profile-img.jpg' %}" class="profile-img" alt=""> {% endcomment %}
                    <img src="{{request.user|user_image}}" alt={{request.user}} class="profile-img" alt="">
                    <!-- <i class="fas fa-user    "></i> -->
                </a>
            </div>
        </div>
    </header>

    <!-- sidebar -->
    <div class="sidebar">
        <ul>
            <li><a href="{% url 'pages:index' %}" class="list-item">
                    <i class="fas fa-home    "></i>
                    الرئيسية
                </a></li>
                <li><a  class="list-item menu-parent">
                        <i class="fas fa-book    "></i>
                        <u>
                            المصنفات
                        </u>
                    </a></li>

                <div class="sub-menu">
                    <li>
                        <a href="{% url 'mosannaf:category' 'business_economy' %}" class="list-item">
                            إقتصاد وأعمال
                        </a>
                    </li>

                    <li>
                        <a href="{% url 'mosannaf:category' 'languages' %}" class="list-item">
                            لغات
                        </a>
                    </li>

                    <li>
                        <a href="{% url 'mosannaf:category' 'medicine_health' %}" class="list-item">
                            صحة وطب
                        </a>
                    </li>

                    <li><a href="{% url 'mosannaf:category' 'modern-science' %}" class="list-item">
                        العلوم الحديثة
                    </a></li>

                    <li><a href="{% url 'mosannaf:categories' %}" class="list-item">
                        جميع التصنيفات
                    </a></li>
                </div>
            <!-- <li><a href="#" class="list-item">
					<i class="fas fa-video    "></i>
					الكورسات
				</a></li> -->
            <li><a href="{% url 'accounts:profile' %}" class="list-item">
                    <i class="fas fa-user    "></i>
                    الملف الشخصي
                </a></li>
            <li><a href="{% url 'pages:contact' %}" class="list-item">
                    <i class="fas fa-phone    "></i>
                    اتصل بنا
                </a></li>


                {% if user.is_superuser %}
                <li><a href="/admin" class="list-item">
                        <i class="fa-brands fa-windows"></i>
                        لوحة الإدارة
                    </a></li>
                {% endif %}

            {% if user.is_authenticated %}
            <li><a href="{% url 'account_logout' %}" class="list-item">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    تسجيل خروج
                </a></li>
            {% endif %}

            <li class="cta">
                <a href="" class="btn btn-outline-dark">دخول</a>
                <a href="" class="btn btn-solid-dark">جديد</a>
            </li>
        </ul>
    </div>



    {% block content %}
    {% endblock content %}

    <div class="container">

        {% if messages %}
        <div>
            <!-- <strong>Messages:</strong> -->
            <ul>
                {% for message in messages %}
                <li>{{message}}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

    </div>

    
    <!-- {% include 'footer.html' %} -->

    <footer style="position: absolute; left: 0; bottom: -400px; min-height: 300px; width: 100%;">
        <div class="container">
    
        <div class="part1">
            <div>
                <a href="#"><span>مصنف</span></a>
                <a href="#">الصفحة الرئيسية</a>
                <a href="#">أسئلة متكررة</a>
                <a href="#">مركز المساعدة</a>
                <a href="#">شروط الاستخدام</a>
                <a href="#">بيان الخصوصية</a>
                <a href="#">الشروط والأحكام</a>

            </div>
            <div> <ul>
                    <li><a href="#">مركز المصنف </a></li>
                    <li><a href="#"> عن مصنف </a></li>
                    <li><a href="#">اتصل بنا </a></li>
                </ul></div>
            <div>
                <ul>
                    <li><a href="#">ترشيح مصنف</a></li>
                    <li><a href="#">أبلغ عن مشكلة</a></li>
                    <li><a href="#">الدعم الفني</a></li>
                </ul>
            </div>
        </div>
        <div class="container">
            <hr>
        </div>
    </div>
    
        <div class="part2">
            <h4 class="copyrights-sentence">جميع الحقوق محفوظة لدى مصنف</h4>
            <div class="social-links">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
            </div>
    
        </div>
    </footer>



    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    <script src="{% static './js/swiper.js' %}"></script>

    <script src="{% static './js/main.js' %}"></script>

    <script>
        let humburger = document.querySelector('.humburger'),
            sidebar = document.querySelector('.sidebar');
        humburger.onclick = function () {
            sidebar.classList.toggle('active');
        }

    </script>

    {% block javascript %}



    {% endblock javascript %}


</body>

</html>